/* .info {
    width: 20vw;
    height: 40vh;
    background-color: red;
    margin: 200px 400px;
    box-shadow:  -12px 12px 50px blue ;
    border-radius: 12px;
} */


/* .info {
    font-size: 52px;
    margin: 30px 100px;
    background: #00FF00;
    background: #00FF00;
    background: linear-gradient(to left, #00FF00 38%, #FF0000 100%);
    color: black;
} */

/* .list  {
    width: 220px;
    height: 220px;
    background-color: red;
    margin: 100px 380px;
    box-shadow: inset -10px 10px 50px blue;
    box-shadow:  -10px 10px 5px blue;
    border-radius: 12px;
} */

.list {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: red;
}